:root {
  --calendar-width: 348px;
}

a.zhaul_left {
  display: inline-block;
  font-size: 50px;
  font-family: 'Orbitron';
  letter-spacing: 4px;
  user-select: none;
  margin-left: 50px;
  margin-top: 10px;
}

div.component-container {
  padding: 50px;
}

.react-date-picker {
  left: calc(50% - (var(--calendar-width) / 2)) !important;
}

.react-date-picker__calendar--closed {
  display: block !important;
}

.react-date-picker__wrapper {
  display: none !important;
}
